<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>로그인 페이지</h2>

<form th:action="@{/login}" th:object="${memberDTO}" method="post">
    아이디: <input type="text" name="loginId" th:field="*{loginId}" ><br>
    비밀번호: <input type="password" name="password" th:field="*{password}" ><br>
    <button type="submit">로그인</button>
</form>
</body>
</html>
